[Unit]
Description=Time synchronization daemon

[Service]
Type=simple
User=root
ExecStart=/usr/bin/timesyncd /etc/timesyncd/timesyncd.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
